@import services.UserService
@import views.form._
@import play.api.mvc._
@import be.objectify.deadbolt.scala._
@import org.webjars.play.WebJarsUtil
@import play.api.i18n._
@import be.objectify.deadbolt.scala.views.html.di._

@this(subjectNotPresent: subjectNotPresent, subjectPresentOr: subjectPresentOr)
@(userService: UserService, resetForm: Form[PasswordReset])(implicit request: AuthenticatedRequest[Any], webJarsUtil: WebJarsUtil,
  jContext: play.mvc.Http.Context, lang: Lang, messagesApi: MessagesApi, messages: Messages)

@import helper._
@import b3.vertical.fieldConstructor
@import com.feth.play.module.pa.views.html._

@main(userService, messagesApi("playauthenticate.password.reset.title"), jContext, subjectNotPresent, subjectPresentOr) {
    @if(resetForm.hasGlobalErrors) {
        <p class="alert alert-danger">@resetForm.globalError.get.message</p>
    }
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 form-box">
            <div class="form-top">
                <div class="form-top-left">
                    <h3>@messagesApi("playauthenticate.password.reset.title")</h3>
                </div>
                <div class="form-top-right">
                    <i class="fa fa-key"></i>
                </div>
            </div>
            <div class="form-bottom">
                @b3.vertical.form(routes.Signup.doResetPassword) { implicit vfc =>
                    @b3.hidden(resetForm("token"), '_label -> "", '_showConstraints -> false)
                    @b3.inputWrapped("password", resetForm("password"), '_label -> messagesApi("playauthenticate.login.password.placeholder"), '_showConstraints -> false, 'placeholder -> "Password") { input =>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            @input
                        </div>
                    }
                    @b3.inputWrapped("password", resetForm("repeatPassword"), '_label -> messagesApi("playauthenticate.login.password.repeat"), '_showConstraints -> false, 'placeholder -> "Password", '_error -> resetForm.error("password")) { input =>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            @input
                        </div>
                    }
                    @b3.submit('class -> "btn btn-default") {
                        @messagesApi("playauthenticate.password.reset.cta")
                    }
                }
            </div>
        </div>
    </div>
}
