@import services.UserService
@import play.api.mvc._
@import views.account.signup.form._
@import be.objectify.deadbolt.scala._

@(userService: UserService, emailForm: Form[ForgotPassword])(implicit request: AuthenticatedRequest[Any], messagesApi: MessagesApi, messages: Messages)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, messagesApi("playauthenticate.password.forgot.title")) {

	<h1>@messagesApi("playauthenticate.password.forgot.title")</h1>
	<p>
	@form(routes.Signup.doForgotPassword, 'class -> "form-inline", 'role -> "form") {

            @if(emailForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @emailForm.globalError.get.message
		     	</p>
            }

	   @_emailPartial(emailForm)

    <button type="submit" class="btn btn-default">@messagesApi("playauthenticate.password.forgot.cta")</button>
	}
	</p>
}
