@import services.UserService
@import play.api.mvc._
@import be.objectify.deadbolt.scala._
@import org.webjars.play.WebJarAssets

@(userProvider: UserService)(implicit request: AuthenticatedRequest[Any], messagesApi: MessagesApi, webJarAssets: WebJarAssets, jContext: play.mvc.Http.Context, lang: play.api.i18n.Lang)

@main(userProvider, messagesApi("playauthenticate.verify.email.title"), jContext) {
	<h1>@messagesApi("playauthenticate.verify.email.title")</h1>
	<p>
		@messagesApi("playauthenticate.verify.email.requirement")</br>
		@messagesApi("playauthenticate.verify.email.cta")
		<br/>
	</p>
}
