@import services.UserService
@import views.account.form._
@import play.api.mvc._
@import be.objectify.deadbolt.scala._

@(userService: UserService, acceptForm: Form[Accept], newAccount: com.feth.play.module.pa.user.AuthUser)(implicit request: AuthenticatedRequest[Any], messagesApi: MessagesApi, messages: Messages, webJarAssets: WebJarAssets)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@label = {
	@_providerIcon(newAccount.getProvider()) @messagesApi("playauthenticate.link.account.question",newAccount)
}

@main(userService, messagesApi("playauthenticate.link.account.title")) {

	<h1>@messagesApi("playauthenticate.link.account.title")</h1>
	<p>
	@form(routes.Account.doLink, 'class -> "form-horizontal", 'role -> "form") {

            @if(acceptForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @acceptForm.globalError.get.message
		     	</p>
            }

	   @inputRadioGroup(
            acceptForm("accept"),
            options = Seq(
            	"true"-> messagesApi("playauthenticate.link.account.true"),
            	"false"->messagesApi("playauthenticate.link.account.false")
            ),
            '_label -> label,
            '_showConstraints -> false
        )

    <button type="submit" class="btn btn-default">@messagesApi("playauthenticate.link.account.ok")</button>
	}
	</p>
}
