@import services.UserService
@import views.account.form._
@import play.api.mvc._
@import be.objectify.deadbolt.scala._

@(userService: UserService, changeForm: Form[PasswordChange])(implicit request: AuthenticatedRequest[Any], messagesApi: MessagesApi, messages: Messages)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, messagesApi("playauthenticate.change.password.title")) {

	<h1>@messagesApi("playauthenticate.change.password.title")</h1>
	<p>
	@form(routes.Account.doChangePassword, 'class -> "form-inline", 'role -> "form") {
		@if(changeForm.hasGlobalErrors) {
        <p class="alert alert-danger">
          @changeForm.globalError.map(_.message)
     	</p>
       	}
	   	@_passwordPartial(changeForm)
    	<button type="submit" class="btn btn-default">@messagesApi("playauthenticate.change.password.cta")</button>
	}
	</p>
}
