@import services.UserService
@import views.account.form._
@import play.api.mvc._
@import be.objectify.deadbolt.scala._

@(userService: UserService, changeForm: Form[PasswordChange])(implicit request: AuthenticatedRequest[Any], messagesApi: MessagesApi, messages: Messages, webJarAssets: WebJarAssets)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, messagesApi("playauthenticate.change.password.title")) {

<div id="changepassword" class="row">

	<div class="col-xs-6 col-md-4">
		<h1>@messagesApi("playauthenticate.change.password.title")</h1>
		<p>
		@helper.form(routes.Account.doChangePassword, 'class -> "form-horizontal", 'role -> "form") {
			@if(changeForm.hasGlobalErrors) {
				<p class="alert alert-danger">@changeForm.globalError.get.message</p>
			}
			@_passwordPartial(changeForm)

			<button type="submit" class="btn btn-default">@messagesApi("playauthenticate.change.password.cta")</button>
		}
		</p>
	</div>

</div>
}
