@import services.UserService
@import play.api.mvc._
@import be.objectify.deadbolt.scala._
@import org.webjars.play.WebJarsUtil

@(userService: UserService)(implicit request: AuthenticatedRequest[Any], messagesApi: MessagesApi, webJarsUtil: WebJarsUtil, jContext: play.mvc.Http.Context, lang: play.api.i18n.Lang)

@main(userService, messagesApi("playauthenticate.verify.account.title"), jContext) {
	<h1>@messagesApi("playauthenticate.verify.account.title")</h1>
	<p>@messagesApi("playauthenticate.verify.account.before") <a href="@routes.Account.verifyEmail">@messagesApi("playauthenticate.verify.account.first")</a>.<br/></p>
}
