@import play.api.Play.current
@import play.Configuration
@import services.UserService
@import play.api.mvc._
@import be.objectify.deadbolt.scala._
@import org.webjars.play.WebJarsUtil
@import play.api.i18n._
@import be.objectify.deadbolt.scala.views.html.di._

@this(subjectNotPresent: subjectNotPresent, subjectPresentOr: subjectPresentOr)
@(userService: UserService)(implicit request: AuthenticatedRequest[Any], webJarsUtil: WebJarsUtil, jContext: play.mvc.Http.Context,
  lang: Lang, messagesApi: MessagesApi)

@main(userService, messagesApi("playauthenticate.index.title"), jContext, subjectNotPresent, subjectPresentOr) {
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>@messagesApi("playauthenticate.index.intro")</h1>
    <p>@messagesApi("playauthenticate.index.intro_2") <br/>@messagesApi("playauthenticate.index.intro_3")</p>
</div>

<!-- Example row of columns -->
<div class="row">
    <div class="col-xs-6 col-sm-4">
        <h2>@messagesApi("playauthenticate.index.heading")</h2>
        <p>Cupcake ipsum dolor sit amet. Pastry pie powder biscuit bear claw. Jelly-o chocolate bar sweet roll sugar plum chocolate. Biscuit brownie chupa chups macaroon ice cream halvah sugar plum oat cake ice cream.</p>
        <p><a class="btn" href="#">@messagesApi("playauthenticate.index.details") &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-sm-4">
        <h2>@messagesApi("playauthenticate.index.heading")</h2>
        <p>Applicake macaroon caramels gummi bears pastry. Cake liquorice carrot cake chocolate lollipop dessert. Halvah fruitcake marshmallow pie gummi bears pie marzipan.</p>
        <p><a class="btn" href="#">@messagesApi("playauthenticate.index.details") &raquo;</a></p>
    </div>
    <div class="col-xs-6 col-sm-4">
        <h2>@messagesApi("playauthenticate.index.heading")</h2>
        <p>Wafer halvah jujubes lollipop liquorice jelly-o pastry. Pie halvah toffee. Candy canes donut sugar plum. Chocolate cake powder tart liquorice cotton candy pudding sweet.</p>
        <p><a class="btn" href="#">@messagesApi("playauthenticate.index.details") &raquo;</a></p>
    </div>
</div>
}
