@import play.api.Play.current
@import play.api.i18n.Messages.Implicits._
@import services.UserProvider
@import be.objectify.deadbolt.scala.views.html._

@(userProvider: UserProvider, title: String, nav: String = "")(content: Html)

<!DOCTYPE html>
<html>
<head>
    <title>@title</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Play Authenticate - an authentication module for the Play! Framework 2.0">
    <meta name="author" content="The Play Authenticate Team">

    <script type="text/javascript" src="@routes.Assets.versioned("lib/jquery/jquery.js")"></script>
        <script type="text/javascript" src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.js")"></script>
    <script type="text/javascript" src="@routes.Application.jsRoutes" defer="defer"></script>

    <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")">
    <link href="@routes.Assets.versioned("css/main.css")" rel="stylesheet">
</head>

<body>
   TODO: migrate	
</body>
</html>
