@import services.UserService
@import services.PluggableUserService._
@import generated._
@import generated.Tables._
@import play.api.mvc._
@import be.objectify.deadbolt.scala._

@import services.GoogleAuthService
@(playAuth: com.feth.play.module.pa.PlayAuthenticate, localUser: UserRow, gauthService: GoogleAuthService, showSecrets: Boolean = false)(implicit request: AuthenticatedRequest[Any], messagesApi: MessagesApi, userService: UserService, webJarAssets: WebJarAssets, jContext: play.mvc.Http.Context)

@import com.feth.play.module.pa.views.html._
@import helpers.FormatHelpers._

@main(userService, messagesApi("playauthenticate.profile.title"), jContext, "profile") {

<h1>@messagesApi("playauthenticate.profile.title")</h1>
<p>
    Your name is @localUser.username and your email address is @if(!localUser.email) {<em>&lt;unknown&gt;</em>.} else {
    @localUser.email.
    <i>
        @if(!localUser.emailValidated && localUser.email) {
        (<a href="@routes.Account.verifyEmail">unverified - click to verify</a>)
        } else {
        (verified)
        }</i>
    }
    <br />
    @if(localUser.firstName && localUser.lastName) {
        Your first name is @localUser.firstName and your last name is @localUser.lastName
        <br/>
    }
    @defining(localUser.providers) { providers =>
    @if(providers.size > 0) {
        // TODO:
    @if(providers.size ==1) {
        @messagesApi("playauthenticate.profile.providers_one")
    } else {
        @messagesApi("playauthenticate.profile.providers_many",providers.size.toString)
    }
    @for(p <- providers) {
        @_providerIcon(p)
    }
    <br/>
    }
    }

    <p>
        @if(gauthService.isEnabled(localUser.id)) {
            @if(showSecrets) {
                <h2>2 factor auth with Google Authenticator is enabled</h2>
                <h2>Shared key:</h2>
                <img src="https://www.google.com/chart?chs=200x200&chld=M|0&cht=qr&chl=@helper.urlEncode("otpauth://totp/" + localUser.email.split("@")(0) + "?secret=" + gauthService.getUserSharedKey(localUser.id))"/>
                <h2>Recovery tokens:</h2>
                <li>
                    @for(token <- gauthService.getUserRecoveryTokens(localUser.id)) {
                        <ul>@{token}</ul>
                    }
                </li>
            } else {
                <h2>2 factor auth with Google Authenticator is enabled</h2>

                <form action="@{routes.Application.enableGoogleAuthenticator()}" method="POST">
                    <input type="submit" class="btn btn-primary" value="Regenerate keys for 2-Factor auth"/>
                </form>
                <form action="@{routes.Application.disableGoogleAuthenticator()}" method="POST">
                    <input type="submit" class="btn btn-primary" value="Disable 2-Factor Auth"/>
                </form>
            }
        } else {
                <h2>2 factor auth with Google Authenticator is not enabled</h2>
                <form action="@{routes.Application.enableGoogleAuthenticator()}" method="POST">
                    <input type="submit" class="btn btn-primary" value="Enable"/>
                </form>
        }
    </p>


    <br/>
    @play.core.j.JavaHelpers.withContext(request) { jContext =>
        @currentAuth(playAuth) { auth =>
            @messagesApi("playauthenticate.profile.logged") @_providerIcon(auth.getProvider())<br/>
            @if(auth.expires() != -1){
                @messagesApi("playauthenticate.profile.session", auth.getId(), auth.expires())
            } else {
                @messagesApi("playauthenticate.profile.session_endless", auth.getId())
            }
        }
    }
    <br/>
<ul>
    <li><a href="@routes.Account.changePassword">@messagesApi("playauthenticate.profile.password_change")</a></li>
</ul>
</p>
}
