@import services.UserService
@import generated._
@import generated.Tables._
@import generated.UserRowAdapter._
@import dao._
@import utils._

@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userService: UserService, localUser: UserRow)(implicit messages: Messages, userDao: UserDao)

@import com.feth.play.module.pa.views.html._

@main(userService, Messages("playauthenticate.profile.title"),"profile") {

<h1>@Messages("playauthenticate.profile.title")</h1>
<p>
    Your name is @localUser.username and your email address is @if(!localUser.email) {<em>&lt;unknown&gt;</em>.} else {
    @localUser.email.
    <i>
        @if(!localUser.emailValidated && localUser.email) {
        (<a href="@routes.Account.verifyEmail">unverified - click to verify</a>)
        } else {
        (verified)
        }</i>
    }
    <br />
    @if(localUser.firstName && localUser.lastName) {
        Your first name is @localUser.firstName and your last name is @localUser.lastName
        <br/>
    }
    @defining(localUser.providers) { providers =>
    @if(providers.size > 0) {
        // TODO:
    @if(providers.size ==1) {
        @Messages("playauthenticate.profile.providers_one")
    } else {
        @Messages("playauthenticate.profile.providers_many",providers.size.toString)
    }
    @for(p <- providers) {
        @_providerIcon(p)
    }
    <br/>
    }
    }

    <br/>
    @currentAuth(playAuth) { auth =>
    @Messages("playauthenticate.profile.logged") @_providerIcon(auth.getProvider())<br/>
    @if(auth.expires() != -1){
        @Messages("playauthenticate.profile.session", auth.getId(), FormatUtils.formatTimestamp(auth.expires()))
    } else {
        @Messages("playauthenticate.profile.session_endless", auth.getId())
    }
    }
    <br/>
<ul>
    <li><a href="@routes.Account.changePassword">@Messages("playauthenticate.profile.password_change")</a></li>
</ul>
</p>
}
