@import services.UserService
@import generated._
@import generated.Tables._
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import org.webjars.play.WebJarAssets

@(userService: UserService, localUser: Option[UserRow] = None)(implicit request: AuthenticatedRequest[Any], messagesApi: MessagesApi, webJarAssets: WebJarAssets, jContext: play.mvc.Http.Context, lang: play.api.i18n.Lang)

@main(userService, messagesApi("playauthenticate.navigation.restrictedForbidCookie"), jContext, "restrictedForbidCookie") {
<h1>@messagesApi("playauthenticate.navigation.restricted")</h1>
<p>
    @messagesApi("playauthenticate.restricted.secrets")
</p>
}
