@import services.UserService
@import play.api.mvc._
@import play.api.data._
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import views.form._

@(playAuth: com.feth.play.module.pa.PlayAuthenticate, userService: UserService, signupForm: Form[_])(implicit request: AuthenticatedRequest[Any], messagesApi: MessagesApi, messages: Messages)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(userService, messagesApi("playauthenticate.signup.title"),"signup") {

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-8">
      <h1>@messagesApi("playauthenticate.signup.title")</h1>
    </div>
  </div>

  <div id="signup" class="row">

    <div class="col-xs-6 col-md-4">
        @* Display proprietary login form *@
    	@helper.form(routes.Application.doSignup, 'class -> "form-horizontal", 'role -> "form") {

            @if(signupForm.hasGlobalErrors) {
		        <p class="alert alert-danger">
		          @signupForm.globalError.get.message
		     	</p>
            }

             @inputText(
                signupForm("name"),
                '_label -> messagesApi("playauthenticate.signup.name")
             )

             @_emailPartial(signupForm)

             @_passwordPartial(signupForm)

            <button type="submit" class="btn btn-default">@messagesApi("playauthenticate.signup.now")</button>
    	}
    </div>

    <div class="col-xs-6 col-md-4">
        @messagesApi("playauthenticate.signup.oauth")
        @* Display list of available providers *@
        @_providerPartial(playAuth, skipCurrent=false)
    </div>

  </div>

}
